In [1]:
# Import required libraries
import pandas as pd
import dash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output
import plotly.express as px

/Users/tianyizhou/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
/var/folders/yz/7nf_9rvn3kn0xjv6llpfm3jm0000gn/T/ipykernel_77512/1399112611.py:4: UserWarning:
The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`
  import dash_html_components as html
/var/folders/yz/7nf_9rvn3kn0xjv6llpfm3jm0000gn/T/ipykernel_77512/1399112611.py:5: UserWarning:
The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`
  import dash_core_components as dcc

In [2]:
csv_file = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/spacex_launch_dash.csv"
spacex_df = pd.read_csv(csv_file)

In [3]:
spacex_df.head()

,Unnamed: 0,Flight Number,Launch Site,class,Payload Mass (kg),Booster Version,Booster Version Category
0,0,1,CCAFS LC-40,0,0.0,F9 v1.0 B0003,v1.0
1,1,2,CCAFS LC-40,0,0.0,F9 v1.0 B0004,v1.0
2,2,3,CCAFS LC-40,0,525.0,F9 v1.0 B0005,v1.0
3,3,4,CCAFS LC-40,0,500.0,F9 v1.0 B0006,v1.0
4,4,5,CCAFS LC-40,0,677.0,F9 v1.0 B0007,v1.0

In [4]:

# Read the airline data into pandas dataframe
max_payload = spacex_df['Payload Mass (kg)'].max()
min_payload = spacex_df['Payload Mass (kg)'].min()

In [5]:
filtered_df = spacex_df[spacex_df["class"]==1]

In [6]:
import plotly.io as pio
pio.renderers.default = 'iframe' # or 'colab' or 'iframe' or 'iframe_connected' or 'sphinx_gallery'

In [7]:
pie_data = filtered_df.groupby("Launch Site")["class"].sum().reset_index()
pie_data

    Launch Site  class
0   CCAFS LC-40      7
1  CCAFS SLC-40      3
2    KSC LC-39A     10
3   VAFB SLC-4E      4

In [8]:
fig = px.pie(pie_data, values="class",names="Launch Site")
fig.show()

/Users/tianyizhou/Library/Python/3.9/lib/python/site-packages/plotly/express/_core.py:1901: FutureWarning:

When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.

In [9]:
filtered_df = spacex_df[spacex_df["Launch Site"]=="CCAFS LC-40"]
pie_data = filtered_df.groupby("class")["Flight Number"].count().reset_index()
pie_data

   class  Flight Number
0      0             19
1      1              7

In [10]:
fig = px.pie(
    pie_data, 
    values="Flight Number",
    names="class")
fig.show()

/Users/tianyizhou/Library/Python/3.9/lib/python/site-packages/plotly/express/_core.py:1901: FutureWarning:

When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.